@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Georgia-Italic";
    src: url("../fonts/GeorgiaItalic/Georgia-Italic.eot");
    src: url("../fonts/GeorgiaItalic/Georgia-Italic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GeorgiaItalic/Georgia-Italic.woff") format("woff"),
    url("../fonts/GeorgiaItalic/Georgia-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

